* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
 
  // 1rem= 10px;
}
body::-webkit-scrollbar {
  display: none;
}
.hide{
  display: none;
}
.loader{
  height: 100vh;
  width: 100vw;
  background-color: #323D3E;
  position: fixed;
  z-index: 3000;
  
  .loaderlogo{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px;
      gap: 15px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      font-size: calc(20px + 1vw);
      text-transform: uppercase;
      font-weight: 800;
      .logoSign{
        background: linear-gradient(104.26deg, rgba(67, 151, 164, 0.2) 0.88%, rgba(91, 204, 222, 0.2) 99.89%), #4397A4;
        box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25);
        border-radius: 100px;
        padding: 8px;
        gap: 10px;
        width: 50px;
        height: 50px;
      }
      
      
      
      
      
      
   }
   .loaderlogo:nth-child(1){
     color: transparent;
     -webkit-text-stroke: 1px #4397A4;
   }
   .loaderlogo:nth-child(2){
     color: #4397A4;
     animation: logo   infinite;
     animation-duration: 4s;
     animation-direction: alternate-reverse;
   }
   @keyframes logo{
     0%{
       clip-path: polygon(0% 45%, 15% 44%, 32% 55%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
     }
       50%{
         clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
       }
       100%{
         clip-path: polygon(0% 45%, 15% 44%, 32% 55%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
       }
   }
}

.root {
  width: 100vw;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  // display: initial;
  background: linear-gradient(42.43deg, #a9c2ed 0%, #c0d0e9 52.25%);
  .haeder-div{
    width: 100vw;
    position: fixed;
    z-index: 1;
   top: 1%;
   transition: top 0.6s ease-in-out ;

  }
 .scroll{
  background-color: white;
  transition: top 0.3s ease-in-out ;
  box-shadow: 0.1px 0.1px 100px #323d3e;
  top: 0%;
}
  .navbar {

    i {
      color: #4397a4;
      font-size: 30px;
      position: absolute;
      right: 10%;
      display: none;
    }
    padding: 3.5rem;
    max-width: 1180px;
    width: 100%;
    transition: 0.6s ease;
    height: 50px;
   
   
    // gap: 80px;
    margin: 0px auto;
    // margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    // justify-content: space-evenly;
    align-items: center;
    // padding:20px;
    .logo {
      width: 141px;
      height: 50px;
      display: flex;

      gap: 1rem;
      // position: absolute;
      // left: 0%;
      // justify-content: space-between;
      align-items: center;
      margin-top: -5px;
      #img {
        width: 50px;
        height: 50px;
        background: linear-gradient(
            104.26deg,
            rgba(67, 151, 164, 0.2) 0.88%,
            rgba(91, 204, 222, 0.2) 99.89%
          ),
          #4397a4;
        box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25);
        border-radius: 100px;
      }
      h1 {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 2.4rem;
        color: #486a6f;
        text-align: center;
      }
    }
    ul {
      width: 100%;
      max-width: 520px;
      //   height: 32px;
      display: flex;
      // transform: false;
      gap: 80px;
      justify-content: center;
      align-items: center;
      list-style: none;
      i {
        color: #e1f1f3;
        font-size: 30px;
        margin-top: 10px;
        display: none;
        // position: fixed;
        // top: 12px;
        // left: 12px;
      }
      li {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        a {
          text-decoration: none;
          font-family: "Noto Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 1.6rem;
          color: #678c92;
          position: relative;
          // animation-name: nav;
          transition: color 0.6s ease;
        }
       
        a:after{
          content: '';
          width: 0%;
          height: 2px;
          background-color: #486a6f;
          position: absolute;
          left: 0;
          bottom: 0;
          transition: width 0.3s ease;
          margin-top: 10px;
        }
        a:hover:after{
          width: 100%;
        }
        a:hover{
          color: #486a6f;
        }
      }
    //  li:hover  hr{
    //   color: red;
    //  }
      
    }
    button {
      margin-top: -5px;
      width: 169px;
      min-height: 42px;
      background: linear-gradient(
          104.26deg,
          rgba(67, 151, 164, 0.2) 0.88%,
          rgba(91, 204, 222, 0.2) 99.89%
        ),
        #4397a4;
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 1.6rem;
      color: #f4f7ff;
      border-radius: 5px;
      // transform: translateX(0px);
    }
  }
}
.final-el {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  // border: 1px solid red;
  padding: 120px 30px 30px 30px;
}
.containe {
  width: 100%;
  background: linear-gradient(42.43deg, #b2c5e7 0%, #c0d0e9 52.25%);
  // background: ;
  // background-blend-mode: multiply;

  min-height: 899px;
  display: flex;
  flex-direction: column;
  gap: 80px;
 
  .home-content {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 80px;
    // justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .home-text {
      max-width: 500px;
      width: 100%;
      margin: auto;
      flex: 1 1 auto;
      display: flex;
      gap: 60px;
      // justify-content: space-around;
      justify-self: center;
      flex-direction: column;
      // align-items: center;
      h1 {
        max-width: 500px;
        width: 100%;
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 700;
        line-height: 72px;
        font-size: 6.4rem;
        color: #486a6f;
      }
      p {
        max-width: 480px;
        width: 100%;
        font-family: "Noto Sans";
        font-style: normal;
        line-height: 36px;
        font-weight: 400;
        font-size: 2.2rem;
        color: #678c92;
      }
      #btns {
        display: flex;
        gap: 30px;
        .b1 {
          font-family: "Noto Sans";
          font-style: normal;
          font-weight: 700;
          font-size: 1.6rem;
          text-align: center;
          color: #f4f7ff;
          width: 118px;
          height: 61px;
          background: linear-gradient(
              104.26deg,
              rgba(67, 151, 164, 0.2) 0.88%,
              rgba(91, 204, 222, 0.2) 99.89%
            ),
            #4397a4;
          box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25);
          border-radius: 5px;
        }
        .b2 {
          font-family: "Noto Sans";
          font-style: normal;
          font-weight: 700;
          font-size: 1.6rem;
          width: 257px;
          height: 61px;
          background: #c6dbff;
          border-radius: 5px;
          text-align: center;
          color: #486a6f;
        }
      }
    }
    .home-img {
      width: 500px;
      flex: 1 1 auto;
      img {
        object-fit: fill;
        width: 100%;
      }
    }
  }
}

.root2 {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: #f4f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container2 {
  width: 100%;
  min-height: 899px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  h1 {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 48px;
    text-align: center;
    color: #486a6f;
  }
  #inner-divs {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      // justify-content: space-between;
      width: 366.67px;
      padding: 50px;
      min-height: 308px;
      img {
        // backdrop-filter: #678c92 30px 30px 30px;
        box-shadow: #678c92 3px 3px 50px;
        border-radius: 5px;
      }
      h1 {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 44px;
        color: #486a6f;
      }
      p {
        width: 268px;
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 32px;
        color: #678c92;
      }
    }
  }
}
.root3 {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: #e1ebfa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container3 {
  min-height: 899px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 40px;
  .navbar {
    max-width: 1200px;
    width: 100%;
    overflow-x: auto;
    // height: 123px;
    border-top: 1px solid #678c92;
    border-bottom: 1px solid #678c92;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
 
    gap: 40px;
    // justify-content: center;
    margin: 0 auto;
  }
  .navbar::-webkit-scrollbar{
    display: none;
  }
  .car {
    max-width: 1185px;
    width: 100%;
    margin: 0 auto;
    min-height: 524px;
    flex-wrap: wrap;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-evenly;
    img {
      width: 100%;
      max-width: 500px;
    }
    div {
      width: 500px;
      display: flex;
      gap: 20px;
      flex-direction: column;
      small {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 32px;
        color: #5bccde;
      }
      h1 {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 3.6rem;
        line-height: 48px;
        color: #486a6f;
        max-width: 500px;
        width: 100%;
      }
      p {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        max-width: 480px;
        width: 100%;
        line-height: 32px;
        color: #678c92;
      }
      button {
        max-width: 200px;
        width: 100%;
        background: linear-gradient(
            104.26deg,
            rgba(67, 151, 164, 0.2) 0.88%,
            rgba(91, 204, 222, 0.2) 99.89%
          ),
          #4397a4;
        box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25);
        border-radius: 5px;
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 1.6rem;
        min-height: 52px;
        line-height: 22px;
        text-align: center;
        color: #f4f7ff;
      }
    }
  }
}
.root4 {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: #f4f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container4 {
  min-height: 899px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  img {
    max-width: 500px;
    width: 100%;
  }
  div {
    width: 500px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    small {
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 32px;
      color: #5bccde;
    }
    h1 {
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 3.6rem;
      line-height: 48px;
      color: #486a6f;
      max-width: 500px;
      width: 100%;
    }
    p {
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      max-width: 480px;
      width: 100%;
      line-height: 32px;
      color: #678c92;
    }
    button {
      max-width: 200px;
      width: 100%;
      background: linear-gradient(
          104.26deg,
          rgba(67, 151, 164, 0.2) 0.88%,
          rgba(91, 204, 222, 0.2) 99.89%
        ),
        #4397a4;
      box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25);
      border-radius: 5px;
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 1.6rem;
      min-height: 52px;
      line-height: 22px;
      text-align: center;
      color: #f4f7ff;
    }
  }
}
.root5 {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: #e1ebfa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container5 {
  min-height: 899px;
  display: flex;
  flex-direction: column;
  justify-content: space-aound;
  gap: 40px;
  align-items: center;
  small {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 32px;
    text-align: center;
    color: #5bccde;
  }
  h1 {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 48px;
    text-align: center;
    color: #486a6f;
  }
  #scrollContent::-webkit-scrollbar{
    display: none;
  }
  #scrollContent {
    gap: 20px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    transition: transform 4s ease-in-out;
    // justify-content: center;
    white-space: nowrap;
    @keyframes scrollAnimation {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(-400%);
      }
      100% {
        transform: translateX(0);
      }
    }
    img {
      max-width: 400px;
      width: 100%;
      margin-right: 10px;
    animation: scrollAnimation 30s linear infinite;

    }
  }
  .scroll-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }

  .prev-button {
    float: left;
  }

  .next-button {
    float: right;
  }
}
.root6 {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: #f4f7ff;
}
.container6 {
  min-height: 899px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
  .contact {
    max-width: 580px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    div {
      display: flex;
      gap: 20px;
      align-items: center;
    }
    small {
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 32px;
      color: #5bccde;
    }
    h1 {
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 3.6rem;
      line-height: 48px;
      color: #486a6f;
      margin-bottom: 60px;
    }
    p {
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 32px;
      color: #486a6f;
      span {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 27px;
        color: #486a6f;
      }
    }
    img {
      max-height: 70px;
    }
  }
  form {
    max-width: 480px;
    width: 100%;
    background: linear-gradient(42.43deg, #c6dbff 0%, #e1ebfa 52.25%);
    border-radius: 5px;
    padding: 40px;
    min-height: 508px;
    // gap: 80px;
    label {
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 19px;
      color: #678c92;
    }
    input {
      border: 1px solid #486a6f;
      border-radius: 3px;
      outline: none;
      padding: 10px;
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      background: none;
      line-height: 32px;
      // max-width: 185.42px;
      width: 100%;
      height: 40px;
    }
    textarea {
      border: 1px solid #486a6f;
      border-radius: 3px;
      outline: none;
      padding: 10px;
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      background: none;
      line-height: 32px;
      // max-width: 185.42px;
      width: 100%;
    }
    // input:nth-child(2) {
    //   max-width: 391.51px;
    //   width: 100%;
    //   height: 40px;
    // }
    // input:nth-child(4) {
    //   max-width: 391.51px;
    //   width: 100%;
    //   height: 130px;
    // }
    button {
      max-height: 52px;
      width: 100%;
      max-width: 395.1px;
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 22px;
      text-align: center;
      color: #f4f7ff;
      background: linear-gradient(
          104.26deg,
          rgba(67, 151, 164, 0.2) 0.88%,
          rgba(91, 204, 222, 0.2) 99.89%
        ),
        #4397a4;
      border-radius: 5px;
    }
  }
}
.root7 {
  width: 100%;
  height: 100%;
  // overflow-y: scroll;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: linear-gradient(
      84.81deg,
      rgba(72, 106, 111, 0.2) 0%,
      rgba(67, 151, 164, 0.2) 100%
    ),
    #486a6f;
}
.container7 {
  min-height: 434px;
  // max-height: 1420px;
  height: 100vh;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 60px;
  h1 {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 44px;
    align-items: center;
    color: #f4f7ff;
  }
  p {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 32px;
    color: #f4f7ff;
    span {
      border-bottom: 1px solid #f4f7ff;
      padding: 2px;
    }
  }
  .footer {
    flex: 1 1 auto;
    max-width: 900px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap;
    ul {
      list-style: none;
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 500;
      padding: 0;
      margin: 0;
      // flex: 1 1 auto;
      font-size: 1.6rem;
      line-height: 32px;
      color: #f4f7ff;
      li {
        padding: 10px;
        text-align: center;
      }
    }
  }
}
// media query
@media (min-width: 0px) and (max-width: 500px) {
  html {
    font-size: 48%;
  }

  .root {
    .haeder-div {
      .navbar {
        // margin-top: -20px;
        .logo {
          gap: 0.5rem;
        }
      }
    }
  }
}
// @media (max-width:450px){
//   .haeder-div {
//     .navbar {
//       i {
//         display: inline;
//       }
//       button {
//         // display: none;
//         position: fixed;
//         left: 32.5%;
//         bottom: 30px;
//         // transform: translateX(-200px);
//         // transition: right 0.5s ease-out;
//         // margin: 0 auto;
//         z-index: 3;
//       }
//       ul {
//         z-index: 3;
//         margin-left: 0;
//         top: 0px;
//         max-width: 100vw;
//         max-height: 1200px;
//         height: 100vh;
//         width: 100%;
//         right: -100vw;

//         position: fixed;
//         // transform: translateX(200px);
//         transition: right 0.5s ease-out;
//         display: flex;
//         flex-direction: column;
//         justify-content: flex-start;
//         align-items: center;
//         gap: 0px;
//         // gap: 10px;
//         background: #f4f7ff;
//         // overflow: hidden;

//         li {
//           // margin-top: 100%;
//           // display: block;
//           // margin: 0;
//           text-align: center;
//           padding: 30px;
//           width: 100vw;

//           border-bottom: 1px solid #ffff;
//           a {
//             color: #486a6f;
//           }
//         }
//       }
//     }
//   }
// }
@media (max-width: 1136px) {
  .containe {
    background: none;
  }
}
@media (max-width: 900px) {
  .haeder-div {
    .navbar {
      i {
        display: inline;
      }
      .t {
        // display: none;
        position: fixed;
        // left: 40.5%;
        bottom: 30px;
        right:100vw;
        // transform: translateX(-200px);
        transition: right 0.9s ease-out;
        // transition-delay: 0.2s;
        // margin: 0 auto;
        display: none;
        z-index: 3;
      }
      ul {
        z-index: 3;
        margin-left: 0;
        top: 0px;
        max-width: 100vw;
        max-height: 1200px;
        height: 100vh;
        width: 100%;
        right: -100vw;

        position: fixed;
        // transform: translateX(200px);
        transition: right 0.5s ease-out;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0px;
        // gap: 10px;
        background: #f4f7ff;
        // overflow: hidden;

        li {
          // margin-top: 100%;
          // display: block;
          // margin: 0;
          text-align: center;
          padding: 30px;
          width: 100vw;

          border-bottom: 1px solid #ffff;
          a {
            color: #486a6f;
          }
        }
      }
    }
  }
}
@media (max-width: 1161px) {
  .container2 {
    #inner-divs {
      div {
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
  }
}
@media (max-width: 639px) {
  .container7 {
    .footer {
      justify-content: flex-start;
      gap: 60px;
      ul {
        li {
          text-align: left;
          padding-left: 0;
        }
      }
    }
  }
}
@media (max-width: 1241px) {
  .container7 {
    .footer {
      justify-content: flex-start;
      // flex:1 1 auto;
    max-width: 1200px;

      ul {
        li {
          text-align: left;
          padding-left: 0;
        }
      }
    }
  }
}
