* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body::-webkit-scrollbar {
  display: none;
}

.root {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: linear-gradient(42.43deg, #c6dbff 0%, #e1ebfa 52.25%);
}

.final-el {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}

.containe {
  width: 100%;
  background: url("figure.svg") no-repeat top right;
  min-height: 899px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.containe .navbar {
  max-width: 1180px;
  width: 100%;
  height: 50px;
  transition: transform 0.9s ease-out;
  margin: 0px auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.containe .navbar i {
  color: #4397a4;
  font-size: 30px;
  position: absolute;
  right: 10%;
  display: none;
}
.containe .navbar .logo {
  width: 141px;
  height: 50px;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: -5px;
}
.containe .navbar .logo #img {
  width: 50px;
  height: 50px;
  background: linear-gradient(104.26deg, rgba(67, 151, 164, 0.2) 0.88%, rgba(91, 204, 222, 0.2) 99.89%), #4397a4;
  box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25);
  border-radius: 100px;
}
.containe .navbar .logo h1 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  color: #486a6f;
  text-align: center;
}
.containe .navbar ul {
  width: 100%;
  max-width: 520px;
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.containe .navbar ul i {
  color: #e1f1f3;
  font-size: 30px;
  margin-top: 10px;
  display: none;
}
.containe .navbar ul li a {
  text-decoration: none;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  color: #678c92;
}
.containe .navbar button {
  margin-top: -5px;
  width: 169px;
  min-height: 42px;
  background: linear-gradient(104.26deg, rgba(67, 151, 164, 0.2) 0.88%, rgba(91, 204, 222, 0.2) 99.89%), #4397a4;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  color: #f4f7ff;
  border-radius: 5px;
}
.containe .home-content {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 80px;
  align-items: center;
  flex-wrap: wrap;
}
.containe .home-content .home-text {
  max-width: 500px;
  width: 100%;
  margin: auto;
  flex: 1 1 auto;
  display: flex;
  gap: 60px;
  justify-self: center;
  flex-direction: column;
}
.containe .home-content .home-text h1 {
  max-width: 500px;
  width: 100%;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  font-size: 6.4rem;
  color: #486a6f;
}
.containe .home-content .home-text p {
  max-width: 480px;
  width: 100%;
  font-family: "Noto Sans";
  font-style: normal;
  line-height: 36px;
  font-weight: 400;
  font-size: 2.2rem;
  color: #678c92;
}
.containe .home-content .home-text #btns {
  display: flex;
  gap: 30px;
}
.containe .home-content .home-text #btns .b1 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  color: #f4f7ff;
  width: 118px;
  height: 61px;
  background: linear-gradient(104.26deg, rgba(67, 151, 164, 0.2) 0.88%, rgba(91, 204, 222, 0.2) 99.89%), #4397a4;
  box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25);
  border-radius: 5px;
}
.containe .home-content .home-text #btns .b2 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  width: 257px;
  height: 61px;
  background: #c6dbff;
  border-radius: 5px;
  text-align: center;
  color: #486a6f;
}
.containe .home-content .home-img {
  width: 500px;
  flex: 1 1 auto;
}
.containe .home-content .home-img img {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
}

.root2 {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: #f4f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  width: 100%;
  min-height: 899px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.container2 h1 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 48px;
  text-align: center;
  color: #486a6f;
}
.container2 #inner-divs {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.container2 #inner-divs div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 366.67px;
  padding: 50px;
  min-height: 308px;
}
.container2 #inner-divs div img {
  box-shadow: #678c92 3px 3px 50px;
  border-radius: 5px;
}
.container2 #inner-divs div h1 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 44px;
  color: #486a6f;
}
.container2 #inner-divs div p {
  width: 268px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 32px;
  color: #678c92;
}

.root3 {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: #e1ebfa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container3 {
  min-height: 899px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 40px;
}
.container3 .navbar {
  max-width: 1200px;
  width: 100%;
  border-top: 1px solid #678c92;
  border-bottom: 1px solid #678c92;
  padding: 20px;
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: 0 auto;
}
.container3 .car {
  max-width: 1185px;
  width: 100%;
  margin: 0 auto;
  min-height: 524px;
  flex-wrap: wrap;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-evenly;
}
.container3 .car img {
  width: 100%;
  max-width: 500px;
}
.container3 .car div {
  width: 500px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.container3 .car div small {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 32px;
  color: #5bccde;
}
.container3 .car div h1 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 48px;
  color: #486a6f;
  max-width: 500px;
  width: 100%;
}
.container3 .car div p {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  max-width: 480px;
  width: 100%;
  line-height: 32px;
  color: #678c92;
}
.container3 .car div button {
  max-width: 200px;
  width: 100%;
  background: linear-gradient(104.26deg, rgba(67, 151, 164, 0.2) 0.88%, rgba(91, 204, 222, 0.2) 99.89%), #4397a4;
  box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25);
  border-radius: 5px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  min-height: 52px;
  line-height: 22px;
  text-align: center;
  color: #f4f7ff;
}

.root4 {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: #f4f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container4 {
  min-height: 899px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.container4 img {
  max-width: 500px;
  width: 100%;
}
.container4 div {
  width: 500px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.container4 div small {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 32px;
  color: #5bccde;
}
.container4 div h1 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 48px;
  color: #486a6f;
  max-width: 500px;
  width: 100%;
}
.container4 div p {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  max-width: 480px;
  width: 100%;
  line-height: 32px;
  color: #678c92;
}
.container4 div button {
  max-width: 200px;
  width: 100%;
  background: linear-gradient(104.26deg, rgba(67, 151, 164, 0.2) 0.88%, rgba(91, 204, 222, 0.2) 99.89%), #4397a4;
  box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25);
  border-radius: 5px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  min-height: 52px;
  line-height: 22px;
  text-align: center;
  color: #f4f7ff;
}

.root5 {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: #e1ebfa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container5 {
  min-height: 899px;
  display: flex;
  flex-direction: column;
  justify-content: space-aound;
  gap: 40px;
  align-items: center;
}
.container5 small {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 32px;
  text-align: center;
  color: #5bccde;
}
.container5 h1 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 48px;
  text-align: center;
  color: #486a6f;
}
.container5 .row {
  gap: 20px;
  display: flex;
  justify-content: center;
}
.container5 .row img {
  max-width: 400px;
  width: 100%;
}

.root6 {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: #f4f7ff;
}

.container6 {
  min-height: 899px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
}
.container6 .contact {
  max-width: 580px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.container6 .contact div {
  display: flex;
  gap: 20px;
  align-items: center;
}
.container6 .contact small {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 32px;
  color: #5bccde;
}
.container6 .contact h1 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 48px;
  color: #486a6f;
  margin-bottom: 60px;
}
.container6 .contact p {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 32px;
  color: #486a6f;
}
.container6 .contact p span {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 27px;
  color: #486a6f;
}
.container6 .contact img {
  max-height: 70px;
}
.container6 form {
  max-width: 480px;
  width: 100%;
  background: linear-gradient(42.43deg, #c6dbff 0%, #e1ebfa 52.25%);
  border-radius: 5px;
  padding: 40px;
  min-height: 508px;
}
.container6 form label {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 19px;
  color: #678c92;
}
.container6 form input {
  border: 1px solid #486a6f;
  border-radius: 3px;
  outline: none;
  padding: 10px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  background: none;
  line-height: 32px;
  width: 100%;
  height: 40px;
}
.container6 form textarea {
  border: 1px solid #486a6f;
  border-radius: 3px;
  outline: none;
  padding: 10px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  background: none;
  line-height: 32px;
  width: 100%;
}
.container6 form button {
  max-height: 52px;
  width: 100%;
  max-width: 395.1px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 22px;
  text-align: center;
  color: #f4f7ff;
  background: linear-gradient(104.26deg, rgba(67, 151, 164, 0.2) 0.88%, rgba(91, 204, 222, 0.2) 99.89%), #4397a4;
  border-radius: 5px;
}

.root7 {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: linear-gradient(84.81deg, rgba(72, 106, 111, 0.2) 0%, rgba(67, 151, 164, 0.2) 100%), #486a6f;
}

.container7 {
  min-height: 434px;
  height: 100vh;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 60px;
}
.container7 h1 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 44px;
  align-items: center;
  color: #f4f7ff;
}
.container7 p {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 32px;
  color: #f4f7ff;
}
.container7 p span {
  border-bottom: 1px solid #f4f7ff;
  padding: 2px;
}
.container7 .footer {
  flex: 1 1 auto;
  max-width: 900px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;
}
.container7 .footer ul {
  list-style: none;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  line-height: 32px;
  color: #f4f7ff;
}
.container7 .footer ul li {
  padding: 10px;
  text-align: center;
}

@media (min-width: 0px) and (max-width: 500px) {
  html {
    font-size: 48%;
  }
  .root .containe .navbar .logo {
    gap: 0.5rem;
  }
}
@media (max-width: 1136px) {
  .containe {
    background: none;
  }
}
@media (max-width: 900px) {
  .containe .navbar i {
    display: inline;
  }
  .containe .navbar button {
    position: fixed;
    bottom: 30px;
    transition: right 0.5s ease-out;
    right: -200px;
    z-index: 3;
  }
  .containe .navbar ul {
    z-index: 3;
    margin-left: 0;
    top: 0px;
    max-width: 200px;
    max-height: 1200px;
    height: 100vh;
    width: 100%;
    right: -200px;
    position: fixed;
    transition: right 0.5s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
    background: #f4f7ff;
    overflow: hidden;
  }
  .containe .navbar ul li {
    text-align: center;
    padding: 30px;
    width: 300px;
    border-bottom: 1px solid white;
  }
  .containe .navbar ul li a {
    color: #486a6f;
  }
}
@media (max-width: 1161px) {
  .container2 #inner-divs div {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 639px) {
  .container7 .footer {
    justify-content: flex-start;
    gap: 60px;
  }
  .container7 .footer ul li {
    text-align: left;
    padding-left: 0;
  }
}/*# sourceMappingURL=style.css.map */